.parent {
    background-image: url('sfondo2.png');
    background-position: center; /* Posiziona l'immagine al centro */
    background-repeat: no-repeat; /* Non ripetere l'immagine */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 50% 15% 30%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 3 / 1 / 4 / 2; }
    .div4 { grid-area: 4 / 1 / 5 / 2; }
    